# Development of machine learning models to process Electronic Health Records â€“ Explainable Models

### Imputation Comparison

Lok Hang Toby Lee (2431180L)

In [172]:
import pandas as pd
import numpy as np
import json
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import seaborn as sn
from sklearn import metrics


# SET YOUR PATH FOR RESOURCES FILE HERE
resources_path = "C:/Users/USER/OneDrive/GU/Year 4/FYP\MIMIC-III-ML/data/resources"
data_path = "C:/Users/USER/OneDrive/GU/Year 4/FYP/MIMIC-III-ML/data/raw"
data = pd.read_csv(data_path+'/mimic_timeseries_data_not_imputed.csv')

In [174]:
# Read in the data and only select the continuous variables:
config = json.load(open(resources_path + '/discretizer_config.json', 'r'))
is_categorical = config['is_categorical_channel']
categorical_var = [key for key, value in config['is_categorical_channel'].items() if value][1:]
patient_identifiers = ['icustay_id', 'subject_id', 'hadm_id', 'hours_in']
data = pd.read_csv(data_path+'/mimic_timeseries_data_not_imputed.csv')

# Filter out subjects with length of stay < 48 hours for the in-hospital mortality task:
y = pd.read_hdf(data_path+'/vitals_hourly_data_preprocessed.h5', 'Y')['los']
indices_to_remove = []
for i, row in y.iteritems():
    if row < 48:
        indices_to_remove.append(i)
        
data = data.reset_index().set_index('icustay_id').drop(indices_to_remove, axis = 0)
y = y.drop(indices_to_remove, axis = 0)

# Extract only the first 48 hours:
data = data[data['hours_in'] < 48].reset_index().set_index(['icustay_id', 'subject_id', 'hadm_id', 'hours_in']).drop('index', axis = 1)

In [175]:
data

                                        Unnamed: 0  Diastolic blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                  0                 49.000000
                              1                  1                 52.000000
                              2                  2                 52.333333
                              3                  3                 60.500000
                              4                  4                 61.000000
...                                            ...                       ...
299995     28775      134959  43           2162994                 82.000000
                              44           2162995                       NaN
                              45           2162996                       NaN
                              46           2162997                 65.000000
                              47           2162998                       NaN

                                        Fraction inspired oxygen  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                              NaN
                              1                              NaN
                              2                              NaN
                              3                              NaN
                              4                              NaN
...                                                          ...
299995     28775      134959  43                             NaN
                              44                             NaN
                              45                             NaN
                              46                             NaN
                              47                             NaN

                                        Glascow coma scale eye opening  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                    4.0
                              1                                    NaN
                              2                                    NaN
                              3                                    NaN
                              4                                    NaN
...                                                                ...
299995     28775      134959  43                                   NaN
                              44                                   NaN
                              45                                   NaN
                              46                                   4.0
                              47                                   NaN

                                        Glascow coma scale motor response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                       6.0
                              1                                       NaN
                              2                                       NaN
                              3                                       NaN
                              4                                       NaN
...                                                                   ...
299995     28775      134959  43                                      NaN
                              44                                      NaN
                              45                                      NaN
                              46                                      6.0
                              47                                      NaN

                                        Glascow coma scale total  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                             15.0
                              1                              NaN
                              2                              NaN
                              3                              NaN
                              4                              NaN
...                                                          ...
299995     28775      134959  43                             NaN
                              44                             NaN
                              45                             NaN
                              46                            15.0
                              47                             NaN

                                        Glascow coma scale verbal response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                        5.0
                              1                                        NaN
                              2                                        NaN
                              3                                        NaN
                              4                                        NaN
...                                                                    ...
299995     28775      134959  43                                       NaN
                              44                                       NaN
                              45                                       NaN
                              46                                       5.0
                              47                                       NaN

                                        Glucose  Heart Rate  Height  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0           110.0       119.0     NaN
                              1             NaN       118.0     NaN
                              2             NaN       116.0     NaN
                              3             NaN       112.0     NaN
                              4             NaN       108.0     NaN
...                                         ...         ...     ...
299995     28775      134959  43            NaN        74.0     NaN
                              44            NaN        72.0     NaN
                              45            NaN        82.0     NaN
                              46            NaN        73.0     NaN
                              47            NaN         NaN     NaN

                                        Mean blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                   58.000000
                              1                   59.000000
                              2                   59.666667
                              3                   65.500000
                              4                   67.000000
...                                                     ...
299995     28775      134959  43                  93.000000
                              44                        NaN
                              45                        NaN
                              46                  81.000000
                              47                        NaN

                                        Oxygen saturation  Respiratory rate  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                      97.0         35.000000
                              1                      96.0         32.000000
                              2                      95.0         30.333333
                              3                      93.5         32.500000
                              4                      91.5         37.000000
...                                                   ...               ...
299995     28775      134959  43                      NaN         19.000000
                              44                      NaN         20.000000
                              45                      NaN         20.000000
                              46                      NaN         20.000000
                              47                      NaN               NaN

                                        Systolic blood pressure  Temperature  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                       91.000000          NaN
                              1                       88.333333    38.999999
                              2                       85.333333    38.277790
                              3                       86.500000    37.777790
                              4                       89.500000    36.833318
...                                                         ...          ...
299995     28775      134959  43                     145.000000          NaN
                              44                            NaN          NaN
                              45                            NaN          NaN
                              46                     128.000000    36.555578
                              47                            NaN          NaN

                                        Weight  pH
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0           77.5 NaN
                              1           77.5 NaN
                              2           77.5 NaN
                              3           77.5 NaN
                              4           77.5 NaN
...                                        ...  ..
299995     28775      134959  43           NaN NaN
                              44           NaN NaN
                              45           NaN NaN
                              46           NaN NaN
                              47           NaN NaN

[843312 rows x 17 columns]

In [181]:
mean_imputed=pd.read_csv(data_path+'/imputed_data/mean_imputed.csv')
joint_imputed=pd.read_csv(data_path+'/imputed_data/joint_imputed.csv')
mean_imputed = mean_imputed.reset_index().set_index(['icustay_id', 'subject_id', 'hadm_id', 'hours_in']).drop('index', axis = 1)
joint_imputed = joint_imputed.reset_index().set_index(['icustay_id', 'subject_id', 'hadm_id', 'hours_in']).drop('index', axis = 1)

In [185]:
mean_imputed

                                        Diastolic blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                        49.000000
                              1                        52.000000
                              2                        52.333333
                              3                        60.500000
                              4                        61.000000
...                                                          ...
299995     28775      134959  43                       82.000000
                              44                       60.109355
                              45                       60.109355
                              46                       65.000000
                              47                       60.109355

                                        Fraction inspired oxygen  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                         0.546215
                              1                         0.546215
                              2                         0.546215
                              3                         0.546215
                              4                         0.546215
...                                                          ...
299995     28775      134959  43                        0.546321
                              44                        0.546321
                              45                        0.546321
                              46                        0.546321
                              47                        0.546321

                                        Glascow coma scale eye opening  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                    4.0
                              1                                    3.0
                              2                                    3.0
                              3                                    3.0
                              4                                    3.0
...                                                                ...
299995     28775      134959  43                                   3.0
                              44                                   3.0
                              45                                   3.0
                              46                                   4.0
                              47                                   3.0

                                        Glascow coma scale motor response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                       6.0
                              1                                       5.0
                              2                                       5.0
                              3                                       5.0
                              4                                       5.0
...                                                                   ...
299995     28775      134959  43                                      5.0
                              44                                      5.0
                              45                                      5.0
                              46                                      6.0
                              47                                      5.0

                                        Glascow coma scale total  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                             15.0
                              1                             12.0
                              2                             12.0
                              3                             12.0
                              4                             12.0
...                                                          ...
299995     28775      134959  43                            12.0
                              44                            12.0
                              45                            12.0
                              46                            15.0
                              47                            12.0

                                        Glascow coma scale verbal response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                        5.0
                              1                                        3.0
                              2                                        3.0
                              3                                        3.0
                              4                                        3.0
...                                                                    ...
299995     28775      134959  43                                       3.0
                              44                                       3.0
                              45                                       3.0
                              46                                       5.0
                              47                                       3.0

                                           Glucose  Heart Rate      Height  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0         110.000000  119.000000  168.889470
                              1         141.003992  118.000000  168.889470
                              2         141.003992  116.000000  168.889470
                              3         141.003992  112.000000  168.889470
                              4         141.003992  108.000000  168.889470
...                                            ...         ...         ...
299995     28775      134959  43        140.934346   74.000000  168.839091
                              44        140.934346   72.000000  168.839091
                              45        140.934346   82.000000  168.839091
                              46        140.934346   73.000000  168.839091
                              47        140.934346   86.043362  168.839091

                                        Mean blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                   58.000000
                              1                   59.000000
                              2                   59.666667
                              3                   65.500000
                              4                   67.000000
...                                                     ...
299995     28775      134959  43                  93.000000
                              44                  78.490950
                              45                  78.490950
                              46                  81.000000
                              47                  78.490950

                                        Oxygen saturation  Respiratory rate  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                  97.00000         35.000000
                              1                  96.00000         32.000000
                              2                  95.00000         30.333333
                              3                  93.50000         32.500000
                              4                  91.50000         37.000000
...                                                   ...               ...
299995     28775      134959  43                 96.89329         19.000000
                              44                 96.89329         20.000000
                              45                 96.89329         20.000000
                              46                 96.89329         20.000000
                              47                 96.89329         18.911043

                                        Systolic blood pressure  Temperature  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                       91.000000    37.019445
                              1                       88.333333    38.999999
                              2                       85.333333    38.277790
                              3                       86.500000    37.777790
                              4                       89.500000    36.833318
...                                                         ...          ...
299995     28775      134959  43                     145.000000    37.019724
                              44                     120.034916    37.019724
                              45                     120.034916    37.019724
                              46                     128.000000    36.555578
                              47                     120.034916    37.019724

                                           Weight        pH
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0         77.500000  7.376545
                              1         77.500000  7.376545
                              2         77.500000  7.376545
                              3         77.500000  7.376545
                              4         77.500000  7.376545
...                                           ...       ...
299995     28775      134959  43        80.670815  7.376603
                              44        80.670815  7.376603
                              45        80.670815  7.376603
                              46        80.670815  7.376603
                              47        80.670815  7.376603

[843312 rows x 16 columns]

In [186]:
joint_imputed

                                        Diastolic blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                        49.000000
                              1                        52.000000
                              2                        52.333333
                              3                        60.500000
                              4                        61.000000
...                                                          ...
299995     28775      134959  43                       82.000000
                              44                       60.096825
                              45                       60.096825
                              46                       65.000000
                              47                       60.096825

                                        Fraction inspired oxygen  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                         0.545613
                              1                         0.545613
                              2                         0.545613
                              3                         0.545613
                              4                         0.545613
...                                                          ...
299995     28775      134959  43                        0.545761
                              44                        0.545761
                              45                        0.545761
                              46                        0.545761
                              47                        0.545761

                                        Glascow coma scale eye opening  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                    4.0
                              1                                    3.0
                              2                                    3.0
                              3                                    3.0
                              4                                    3.0
...                                                                ...
299995     28775      134959  43                                   3.0
                              44                                   3.0
                              45                                   3.0
                              46                                   4.0
                              47                                   3.0

                                        Glascow coma scale motor response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                       6.0
                              1                                       5.0
                              2                                       5.0
                              3                                       5.0
                              4                                       5.0
...                                                                   ...
299995     28775      134959  43                                      5.0
                              44                                      5.0
                              45                                      5.0
                              46                                      6.0
                              47                                      5.0

                                        Glascow coma scale total  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                             15.0
                              1                             12.0
                              2                             12.0
                              3                             12.0
                              4                             12.0
...                                                          ...
299995     28775      134959  43                            12.0
                              44                            12.0
                              45                            12.0
                              46                            15.0
                              47                            12.0

                                        Glascow coma scale verbal response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                        5.0
                              1                                        3.0
                              2                                        3.0
                              3                                        3.0
                              4                                        3.0
...                                                                    ...
299995     28775      134959  43                                       3.0
                              44                                       3.0
                              45                                       3.0
                              46                                       5.0
                              47                                       3.0

                                           Glucose  Heart Rate      Height  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0         110.000000  119.000000  168.885835
                              1         141.119678  118.000000  168.885835
                              2         141.119678  116.000000  168.885835
                              3         141.119678  112.000000  168.885835
                              4         141.119678  108.000000  168.885835
...                                            ...         ...         ...
299995     28775      134959  43        141.056248   74.000000  168.834333
                              44        141.056248   72.000000  168.834333
                              45        141.056248   82.000000  168.834333
                              46        141.056248   73.000000  168.834333
                              47        141.056248   85.972028  168.834333

                                        Mean blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                   58.000000
                              1                   59.000000
                              2                   59.666667
                              3                   65.500000
                              4                   67.000000
...                                                     ...
299995     28775      134959  43                  93.000000
                              44                  78.326321
                              45                  78.326321
                              46                  81.000000
                              47                  78.326321

                                        Oxygen saturation  Respiratory rate  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                 97.000000         35.000000
                              1                 96.000000         32.000000
                              2                 95.000000         30.333333
                              3                 93.500000         32.500000
                              4                 91.500000         37.000000
...                                                   ...               ...
299995     28775      134959  43                96.869023         19.000000
                              44                96.869023         20.000000
                              45                96.869023         20.000000
                              46                96.869023         20.000000
                              47                96.869023         18.891432

                                        Systolic blood pressure  Temperature  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                       91.000000    37.018866
                              1                       88.333333    38.999999
                              2                       85.333333    38.277790
                              3                       86.500000    37.777790
                              4                       89.500000    36.833318
...                                                         ...          ...
299995     28775      134959  43                     145.000000    37.014067
                              44                     119.821155    37.014067
                              45                     119.821155    37.014067
                              46                     128.000000    36.555578
                              47                     119.821155    37.014067

                                           Weight        pH
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0         77.500000  7.376386
                              1         77.500000  7.376386
                              2         77.500000  7.376386
                              3         77.500000  7.376386
                              4         77.500000  7.376386
...                                           ...       ...
299995     28775      134959  43        80.696131  7.376658
                              44        80.696131  7.376658
                              45        80.696131  7.376658
                              46        80.696131  7.376658
                              47        80.696131  7.376658

[843312 rows x 16 columns]

# KNN

Scale data for KNN

In [129]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data)
scaled_data= scaler.transform(data)
scaled_data=scaled_data[:1000,:]

KNN imputation

In [ ]:
from sklearn.impute import KNNImputer

results_knn_imp = pd.DataFrame(index = data.index, columns = data.columns)

# KNN imputation
knn_imputer = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean')
knn_imputer.fit(scaled_data)
print("data fitted")
knn_imp = knn_imputer.transform(scaled_data)
print(knn_imp)

Reverse scaling for comparison

In [ ]:
knn_imp=scaler.inverse_transform(knn_imp)
results_knn_imp.loc[:len(knn_imp),:]=knn_imp

In [ ]:
results_knn_imp

                                       Unnamed: 0 Diastolic blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0               0.0                     49.0
                              1               1.0                     52.0
                              2               2.0                52.333333
                              3               3.0                     60.5
                              4               4.0                     61.0
...                                           ...                      ...
299995     28775      134959  43              NaN                      NaN
                              44              NaN                      NaN
                              45              NaN                      NaN
                              46              NaN                      NaN
                              47              NaN                      NaN

                                       Fraction inspired oxygen  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                            0.84
                              1                            0.71
                              2                            0.71
                              3                            0.76
                              4                             0.8
...                                                         ...
299995     28775      134959  43                            NaN
                              44                            NaN
                              45                            NaN
                              46                            NaN
                              47                            NaN

                                       Glascow coma scale eye opening  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                   4.0
                              1                                   3.0
                              2                                   3.0
                              3                                   3.0
                              4                                   3.0
...                                                               ...
299995     28775      134959  43                                  NaN
                              44                                  NaN
                              45                                  NaN
                              46                                  NaN
                              47                                  NaN

                                       Glascow coma scale motor response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                      6.0
                              1                                      5.6
                              2                                      5.6
                              3                                      5.6
                              4                                      5.6
...                                                                  ...
299995     28775      134959  43                                     NaN
                              44                                     NaN
                              45                                     NaN
                              46                                     NaN
                              47                                     NaN

                                       Glascow coma scale total  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                            15.0
                              1                            11.6
                              2                            11.6
                              3                            11.6
                              4                            11.6
...                                                         ...
299995     28775      134959  43                            NaN
                              44                            NaN
                              45                            NaN
                              46                            NaN
                              47                            NaN

                                       Glascow coma scale verbal response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                       5.0
                              1                                       1.6
                              2                                       1.6
                              3                                       1.6
                              4                                       1.6
...                                                                   ...
299995     28775      134959  43                                      NaN
                              44                                      NaN
                              45                                      NaN
                              46                                      NaN
                              47                                      NaN

                                       Glucose Heart Rate   Height  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0          110.0      119.0  174.776
                              1          107.1      118.0  181.378
                              2          107.1      116.0  181.378
                              3          107.1      112.0  181.378
                              4          107.1      108.0  181.378
...                                        ...        ...      ...
299995     28775      134959  43           NaN        NaN      NaN
                              44           NaN        NaN      NaN
                              45           NaN        NaN      NaN
                              46           NaN        NaN      NaN
                              47           NaN        NaN      NaN

                                       Mean blood pressure Oxygen saturation  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                       58.0              97.0
                              1                       59.0              96.0
                              2                  59.666667              95.0
                              3                       65.5              93.5
                              4                       67.0              91.5
...                                                    ...               ...
299995     28775      134959  43                       NaN               NaN
                              44                       NaN               NaN
                              45                       NaN               NaN
                              46                       NaN               NaN
                              47                       NaN               NaN

                                       Respiratory rate  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                    35.0
                              1                    32.0
                              2               30.333333
                              3                    32.5
                              4                    37.0
...                                                 ...
299995     28775      134959  43                    NaN
                              44                    NaN
                              45                    NaN
                              46                    NaN
                              47                    NaN

                                       Systolic blood pressure Temperature  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                           91.0   36.255561
                              1                      88.333333   38.999999
                              2                      85.333333    38.27779
                              3                           86.5    37.77779
                              4                           89.5   36.833318
...                                                        ...         ...
299995     28775      134959  43                           NaN         NaN
                              44                           NaN         NaN
                              45                           NaN         NaN
                              46                           NaN         NaN
                              47                           NaN         NaN

                                       Weight     pH
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0          77.5  7.254
                              1          77.5  7.418
                              2          77.5  7.418
                              3          77.5  7.418
                              4          77.5  7.418
...                                       ...    ...
299995     28775      134959  43          NaN    NaN
                              44          NaN    NaN
                              45          NaN    NaN
                              46          NaN    NaN
                              47          NaN    NaN

[843312 rows x 17 columns]

# MICE

In [201]:
import miceforest as mf

mf.ampute_data(data,perc=0.25,random_state=1991)

# Create kernels. 
kernel = mf.ImputationKernel(
  data=data,
  save_all_iterations=True,
  random_state=1991
)

# Run the MICE algorithm for 3 iterations on each of the datasets
kernel.mice(3,verbose=True)

Dataset 0
1  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
2  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
3  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
Dataset 1
1  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
2  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
3  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
Dataset 2
1  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
2  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
3  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
Dataset 3
1  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
2  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
3  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
Dataset 4
1  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
2  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height
3  | Heart Rate | Respiratory rate | Systolic blood pressure | Diastolic blood pressure | Mean blood pressure | Oxygen saturation | Weight | Temperature | Glascow coma scale eye opening | Glascow coma scale verbal response | Glascow coma scale motor response | Glucose | Glascow coma scale total | pH | Fraction inspired oxygen | Height

In [222]:
mice_imputed = kernel.complete_data(4)
mice_imputed.to_csv(data_path+'/imputed_data/mice_imputed.csv')

In [223]:
mice_imputed

                                        Diastolic blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                        49.000000
                              1                        52.000000
                              2                        52.333333
                              3                        60.500000
                              4                        61.000000
...                                                          ...
299995     28775      134959  43                       82.000000
                              44                       53.000000
                              45                       96.000000
                              46                       65.000000
                              47                       54.000000

                                        Fraction inspired oxygen  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                             1.00
                              1                             0.40
                              2                             0.40
                              3                             0.50
                              4                             0.50
...                                                          ...
299995     28775      134959  43                            0.70
                              44                            0.30
                              45                            0.50
                              46                            0.28
                              47                            0.40

                                        Glascow coma scale eye opening  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                    4.0
                              1                                    1.0
                              2                                    4.0
                              3                                    4.0
                              4                                    2.0
...                                                                ...
299995     28775      134959  43                                   4.0
                              44                                   3.0
                              45                                   2.0
                              46                                   4.0
                              47                                   1.0

                                        Glascow coma scale motor response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                       6.0
                              1                                       4.0
                              2                                       6.0
                              3                                       6.0
                              4                                       5.0
...                                                                   ...
299995     28775      134959  43                                      6.0
                              44                                      6.0
                              45                                      4.0
                              46                                      6.0
                              47                                      4.0

                                        Glascow coma scale total  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                             15.0
                              1                              6.0
                              2                             15.0
                              3                             15.0
                              4                              8.0
...                                                          ...
299995     28775      134959  43                            15.0
                              44                            14.0
                              45                             7.0
                              46                            15.0
                              47                             6.0

                                        Glascow coma scale verbal response  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                                        5.0
                              1                                        1.0
                              2                                        5.0
                              3                                        5.0
                              4                                        1.0
...                                                                    ...
299995     28775      134959  43                                       5.0
                              44                                       5.0
                              45                                       1.0
                              46                                       5.0
                              47                                       1.0

                                        Glucose  Heart Rate  Height  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0           110.0       119.0  165.05
                              1           206.5       118.0  175.13
                              2           128.0       116.0  185.21
                              3           109.0       112.0  162.78
                              4           221.0       108.0  154.97
...                                         ...         ...     ...
299995     28775      134959  43           87.0        74.0  187.98
                              44          161.0        72.0  175.13
                              45          122.0        82.0  182.94
                              46          122.0        73.0  165.05
                              47          115.0        55.0  175.13

                                        Mean blood pressure  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                   58.000000
                              1                   59.000000
                              2                   59.666667
                              3                   65.500000
                              4                   67.000000
...                                                     ...
299995     28775      134959  43                  93.000000
                              44                  68.000000
                              45                 129.000000
                              46                  81.000000
                              47                  73.000000

                                        Oxygen saturation  Respiratory rate  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                      97.0         35.000000
                              1                      96.0         32.000000
                              2                      95.0         30.333333
                              3                      93.5         32.500000
                              4                      91.5         37.000000
...                                                   ...               ...
299995     28775      134959  43                     96.0         19.000000
                              44                    100.0         20.000000
                              45                    100.0         20.000000
                              46                     96.0         20.000000
                              47                     98.0         14.333333

                                        Systolic blood pressure  Temperature  \
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0                       91.000000    37.500000
                              1                       88.333333    38.999999
                              2                       85.333333    38.277790
                              3                       86.500000    37.777790
                              4                       89.500000    36.833318
...                                                         ...          ...
299995     28775      134959  43                     145.000000    36.555578
                              44                      99.000000    37.299999
                              45                     171.000000    38.999999
                              46                     128.000000    36.555578
                              47                     130.000000    36.611106

                                           Weight      pH
icustay_id subject_id hadm_id hours_in
200003     27513      163557  0         77.500000  7.4100
                              1         77.500000  7.4500
                              2         77.500000  7.3900
                              3         77.500000  7.3450
                              4         77.500000  7.3200
...                                           ...     ...
299995     28775      134959  43        91.000000  7.4425
                              44        73.000000  7.3600
                              45        77.099998  7.4400
                              46        70.760410  7.3200
                              47         0.000000  7.3900

[843312 rows x 16 columns]

In [ ]:
# Import libraries
import matplotlib.pyplot as plt
import numpy as np
 
 
# Creating dataset
fig = plt.figure(figsize =(10, 7))
 
# Creating plot
plt.boxplot(joint_imputed_data)
 
# show plot
plt.show()